<!DOCTYPE html>
<html ng-app="myapp">
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
<head>
    <title>News Poster</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/newsposter.css" rel="stylesheet">
</head>
<body>
    <div class="container" ng-controller="posterController">
        <div class="jumbotron" >
            <h2>Welcome!</h2>
            <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#settingsModal"><span class="glyphicon glyphicon-cog"></span></button>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input id="postTopic" type="text" class="form-control" placeholder="Topic"/>
                <textarea id="postBody" class="form-control" rows="8" placeholder="Content"></textarea>
                <button class="btn btn-lg btn-primary" ng-click="sendPost()">Send post</button>
            </div>
        </div>
    </div>

    <div id="settingsModal" class="modal fade" role="dialog" ng-controller="credentialsController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Connected targets</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Application name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="app in apps">
                                <td>{{app}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <input class="form-control" id="appName" placeholder="application name"/>
                    <input class="form-control" id="username" placeholder="username"/>
                    <input class="form-control" id="password" type="password" placeholder="password"/>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="storeCredentials()">Add Wordpress</button>
                    <br>
                    <input class="form-control" id="email" placeholder="e-mail address"/>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="authorizeGmail()">Add Gmail</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-waitingfor.js"></script>
</body>
</html>