<!DOCTYPE html>
<html ng-app="myapp">
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
<head>
    <title>News Poster</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/newsposter.css" rel="stylesheet">
</head>
<body>
    <div class="container" ng-controller="loginController">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in to NewsPoster</h2>
            <input class="form-control" type="password" name="password" id="password" ng-model="password" ng-change="passwordChanged()" ng-show="registered"
                   placeholder="enter password" />
            <br>
            <input class="form-control" type="password" name="newPassword1" id="newPassword1" ng-model="newPassword1" ng-change="newPasswordChanged()" ng-hide="registered"
                   placeholder="create new password, at least 8 characters" />
            <input class="form-control" type="password" name="newPassword2" id="newPassword2" ng-model="newPassword2" ng-change="newPasswordChanged()" ng-hide="registered"
                   placeholder="repeat password" />
            <button id="buttonLogIn" class="btn btn-lg btn-primary btn-block" ng-click="login()" disabled="true">Log in</button>

        </form>
    </div>
</body>
</html>
