<!DOCTYPE html>
<html ng-app="myapp">
<script src="angular.js"></script>
<script src="app.js"></script>
<head>
    <title>News Poster</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/newsposter.css" rel="stylesheet">
</head>
<body>
    <div class="container" ng-controller="loginController">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in to NewsPoster</h2>
            <input class="form-control" type="password" name="password" id="password" ng-model="password" ng-change="passwordChanged()"
                   placeholder="enter password or create a new one" />
            <br>
            <button id="buttonLogIn" class="btn btn-lg btn-primary btn-block" ng-click="login()" disabled="true">Log in</button>
        </form>
    </div>
</body>
</html>
